body {
  background-size: cover;
  background-image: url(https://wallpapertag.com/wallpaper/full/e/e/c/993031-best-purple-color-background-1920x1080-for-android-tablet.jpg);
}
.logo {
  position: relative;
  left: 10px;
  top: 10px;
  font-size: 100px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.logo {
  font-size: 80px;
  color: #fff;

  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.btn:hover {
  background-color: rgba(38, 0, 255, 0.644);
}
.btn {
  font-size: 70px;
  position: relative;
  left: 37%;
  margin-top: 15%;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(15, 108, 196);
  cursor: pointer;
}
a:hover {
  background: rgba(235, 231, 231, 0.342);
}
.btn:active {
  background-color: #0684d8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.a {
  position: relative;
  top: -355px;
  left: 1210px;
  font-size: 26px;
  text-decoration: auto;
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#box {
  width: 10%;
  font-size: 25px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(204, 204, 204);
}
.bt {
  color: #e0dddd;
  background-color: #3f38ab;
}
.bt:hover {
  background-color: slateblue;
}
